/* Estilos personalizados para UNAGRA Sociedad financiera
 */
/* <a href="https://www.freepik.es/fotos-vectores-gratis/negocios">Foto de Negocios creado por freepik - www.freepik.es</a>*/
body {
    margin: 0px !important;
    padding: 0px !important;
}
.jumbotronUNA {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: url("../img/Grupo 223.png")no-repeat 0% 90%/cover #e9ecef;
    height: 600px;
}

.jumbotronVal{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url("../img/uniespecializada.png")no-repeat 0px -100px/cover #e9ecef;
    height: 340px;
    color: #FFFFFF;
}
.jumbotronUE{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url("../img/valores_img.png")no-repeat 0px 0px/cover #e9ecef;
    height: 340px;
    color: #FFFFFF;
}
.jumbotroninfo{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url("../img/infofinanciera.png")no-repeat 0px -50px/cover #e9ecef;
    height: 340px;
    color: #FFFFFF;
}
.jumbotronRED{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url("../img/RedG.png")no-repeat 0px 0px/cover #e9ecef;
    height: 340px;
    color: #FFFFFF;
}
.jumbotronAhorro{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url("../img/ahorro.png")no-repeat 0px 0px/cover, linear-gradient(-45deg, rgba(8,115,186,.5) 0%, rgba(5,193,171,.5) 100%);
    height: 340px;
    color: #FFFFFF;
}
.jumbotronInversion{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url("../img/inversion.png")no-repeat 0px 0px/cover, linear-gradient(-45deg, rgba(8,115,186,.5) 0%, rgba(5,193,171,.5) 100%);
    height: 340px;
    color: #FFFFFF;
}
.jumbotronCpersonal{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url(../img/Cpersonal.png)no-repeat 0px -150px/100%, linear-gradient(-45deg, rgba(8,115,186,.5) 0%, rgba(5,193,171,.5) 100%);
    height: 340px;
    color: #FFFFFF;
}
.jumbotronCinver{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url(../img/C_Inversion.png)no-repeat 0px -150px/100%, linear-gradient(-45deg, rgba(8,115,186,.5) 0%, rgba(5,193,171,.5) 100%);
    height: 340px;
    color: #FFFFFF;
}
.jumbotronCtrabajo{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url(../img/C_Trabajo.png)no-repeat 0px -150px/100%, linear-gradient(-45deg, rgba(8,115,186,.5) 0%, rgba(5,193,171,.5) 100%);
    height: 340px;
    color: #FFFFFF;
}
.jumbotronRED2{
    padding: 2rem 1rem;
    /*margin-bottom: 1rem;*/
    background: url("../img/red02.png")no-repeat 0px 0px/cover #e9ecef;
    height: auto;
    color: #FFFFFF;
}
.jumbotronContacto{
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: url("../img/contacto.png")no-repeat 0px 0px/cover, linear-gradient(-45deg, rgba(8,115,186,.5) 0%, rgba(5,193,171,.5) 100%);
    height: 340px;
    color: #FFFFFF;
}
.tituno{ color: #054B92;
		 font-weight:700;
 }
.titdos {
    color: #057185;
    font-weight: lighter;
}
.espacioV{
	    margin-top: 6rem;
}
.espacioVB{
	    margin-bottom: 6rem;
}
.separador{
    border-bottom: 1px solid #cccccc;
    margin-left:1rem; 
} 
.img-fluid {
     /*   width: auto;
    overflow: hidden;
    height: auto;*/
    margin-bottom:53px;
}
.iconP{font-weight: 900;
    width: 4rem;
    text-align: center;
    color: #007488 !important;
}
.iconT{font-weight: 900;
    width: 4rem;
    text-align: center;
    color: #007B3D !important;
}

.img-absolute {
       position: absolute;
    max-width: 45%;
    bottom: 16px;
    right: 200px;
}

.imgMision {
    width: 70%;
    padding-bottom: 2rem;
}

.bg-vision{
	  background: url("../img/Grupo 03.png")no-repeat 80% 0%/cover #e9ecef;
    height: 382px;
    color: #FFFFFF;
    text-align: center;
}

.jumbotronDos {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: url("../img/oportunidades.png")no-repeat 0px 0%/cover #e9ecef;
    height: 350px;
    color: #FFFFFF;
    text-align: right;
}
.jumbotronTres {
    padding: 2rem 1rem;
    background: url("../img/tiposcambio.png")no-repeat 0px 72%/cover #e9ecef;
    height: auto;
    color: #FFFFFF;
    text-align: right;
}
.jumbotronCuatro {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: url("../img/Grupo 224@2x.png")no-repeat 0px 72%/cover #e9ecef;
    height: 350px;
    color: #FFFFFF;
    text-align: right;
}
.marginV{
	margin: 3rem;
}

.servicios .fas {
	font-size: 6em;
	color: #0872BA;
	text-align: center;
}
.tipos .fas{
    font-size: 5em;
    color: orange;
    text-align: left;
}

.text-gray-300 {
    color: #dddfeb!important;
    float: right;
}

figure .fa-users{
        font-size: 25em;
        color: orange;
        text-align: left;
        top: 190px;
        position: absolute;
            }
.tipos img {
    width: 5em;
    color: orange;
    text-align: left;
}
.numero {
    font-size: 3em;
    font-weight: 400;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(247,124,33,1.1);
}
.plecafinal{
    height: 10px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #05C1AB 0%, #08 51%, ); 
    /*background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
}
p{
    font-weight: normal;
}
.text-footer{
        color: #6c757d!important;
    font-size: .9em;
    font-weight: lighter;
}
.imgfoot {
    background: url(../img/logoUnagra.svg)no-repeat 0% 0%;
    width: 5rem;
    height: 4rem;
}

/*ESTILOS PAG INVERSIÖN*/
.imginversion{    
    width: 90%;
    float: right;
}

/*Estilos para pestañas de créditos */

.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid rgb(80,144,247);
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #32465B;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}